button,
div,
input {
    margin: 10px;
}

#backImg {
    margin: 0 auto;
    width: 100%;
    height: 20%;
    display: inline-block;
}

header {
    margin: 20px;
}

#buttons-view {
    text-align: center;
}

form {
    float: right;
}

h1 {
    float: left;
    margin: 10px 0;
}
body {
    font-family: Anton;
}

p {
    display: inline;
}
.item {
    float: left;
    background-color: red;
    padding: 15px 15px 13px 5px;
}

.heroApi {
    margin: 0 auto;
    display: block;
}